# scripts for uploading
upload*

# auto-update file
sc-updatefile.txt

# zip files for alliedmods forum
sourcecomms-srv.zip
sourcecomms-web.zip

# sublime project files
SourceComms.sublime-project
SourceComms.sublime-workspace

##########
## MacOS
##########
.DS_Store

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
