# sublime project files
SourceComms.sublime-project
SourceComms.sublime-workspace

##########
## MacOS
##########
.DS_Store

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
